<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      
        
      
      <h1>
        Issue Tracker
      </h1>
    </header>
      <div id="submiss">
    <h2>
      New project
    </h2>
    <form action="newproj" method="post">
      <input type="text" placeholder="*Title">
      <textarea type="text" placeholder="*Description" style="width: 10000px,height: 3100px;"></textarea><br>
      <input type="text" placeholder="*Created By">
      <input type="text" placeholder="Issued To(opt)">
      <input type="text" placeholder="Status desc(opt)">
      <input type="submit">
    </form>

    <br>
     <h2>
       Update project
    </h2>
    <form action="upproj" method="post">
      <input type="text" placeholder="*id">
       <input type="text" placeholder="Title(opt)">
      <textarea type="text" placeholder="Description(opt)" style="width: 10000px,height: 3100px;"></textarea><br>
      <input type="text" placeholder="Created By(opt)">
      <input type="text" placeholder="Issued To(opt)">
      <input type="text" placeholder="Status desc(opt)">
      <input type="submit">
    </form>
    <br>
    <h2>
      Find Project
    </h2>
   <form action="getproj" method="get" >
     <input type="text"  placeholder="*id">
     <input type="submit">
    </form>
 
    </div>
    <div id="output">
      <h1>
        Hello there
      </h1>
          
    </div>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
